// TIPOGRAFIA
$fontsize-default: 16px;

// VARIABLES COLORES
$color-nav: #1F1534;
$light-blue: #89C5CC;
$gray: #7D7987;
$light-gray: #F9F9F9;
$light-green: #69B99D;

// BREAKPOINTS
$tablet-breakpoint: 1023px;
$mobile-breakpoint: 767px;
